body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav, a {
  color: #333;
}

#nav, a:hover {
  text-decoration: none;
}

.mapboxgl-popup-content {
    max-height: 200px;
    overflow-y: auto;
}