<div class="event-tab">
    <ul class="nav nav-tabs" ng-init="includePast=false">
        <li class="nav-item">
            <div class="nav-link" data-toggle="tab" ng-click="listingsSort='time.end'; includePast=false">Upcoming Events</div>
        </li>
        <li class="nav-item">
            <div class="nav-link active" data-toggle="tab" ng-click="listingsSort='created_at'; includePast=false">Recent Events</div>
        </li>
        <li class="nav-item">
            <div class="nav-link" data-toggle="tab" ng-click="listingsSort='meta.flagged'; includePast=false">Top Rated Events</div>
        </li>
        <li class="nav-item">
            <div class="nav-link" data-toggle="tab" ng-click="listingsSort='-time.end'; includePast=true">Past Events</div>
        </li>

        <div class="navbar-nav ml-auto">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search" ng-model="searchBy">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                </span>
            </div>
        </div>
    </ul>


    <div class="tab-content">
        <div class="tablewrapper col-md-12">
            <table class="table table-hover">
                <tr ng-repeat="listing in listings | orderBy:listingsSort | filter:searchBy" ng-if="sortByOccurence(listing, includePast)">
                    <td>
                        <img ng-src='https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/pin-s+000000({{listing.location.coordinates.longitude}},{{listing.location.coordinates.latitude}})/{{listing.location.coordinates.longitude}},{{listing.location.coordinates.latitude}},10,0.00,0.00/150x100?access_token=pk.eyJ1IjoiZm9vZGJhYnlnMiIsImEiOiJjam10YTdtNjAwNWg2M3dwMWw3am14emhzIn0.dlnV1DEKRSxnKRwa7I2qLw'>
                    </td>
                    <td>
                        <div>
                            <b>{{listing.name}}</b><br><br>
                            {{listing.location.name}} ({{listing.location.code}}): {{listing.time.start | date:"shortDate"}},{{listing.time.start | date:"shortTime"}} - {{listing.time.end   | date:"shortTime"}}<br>
                            {{listing.food_type}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>