<!-- Sign up Component -->
<div class="d-flex justify-content-center" id = "singupContainer">
  <form id = "singupForm" name="signupForm" ng-controller="SignUpController">
    <div class="card">
      <div class="card-header">
        Signup
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                 placeholder="Enter Email" ng-model="username" ng-required="true"/>
        </div>
        <div class="form-group">
          <label for="password">Password (8-60 characters)</label>
          <input type="password" class="form-control" id="password"
                 ng-minlength="8" ng-maxlength="60"
                 placeholder="Password" ng-model="password" ng-required="true"/>
        </div>
        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="password" class="form-control" id="password"
                 placeholder="Confirm Password"
                 ng-minlength="8" ng-maxlength="60"
                 ng-model="cpass" ng-required="true"/>
        </div>

        <div class="alert alert-danger" role="alert" ng-show="usernameExists">
          Username already exists!
        </div>
        <div class="alert alert-danger" role="alert" ng-show="!matchingPasswords()">
          Passwords must match!
        </div>
        <div class="alert alert-danger" role="alert"
             ng-show="!password && (signupForm.$error.minlength || signupForm.$error.maxlength)">
              Password must be between 8 to 60 characters!
        </div>

        <button type="submit" class="btn btn-uf-blue btn-block" ng-disabled="!signupForm.$valid"
                ng-click="signup()">Sign Up</button>
      </div>
    </div>
  </form>
</div>
